[user]
	name = {{ .name }}
	email = {{ .email }}
	username = {{ .githubUsername }}
	signingkey = {{ .sshSigningKey }}
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[pull]
	rebase = true
[branch]
    autosetuprebase = always
[commit]
	gpgsign = true
[gpg]
	format = ssh
[core]
	editor = vim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
