[user]
	name = {{ .name }}
	email = {{ .email }}
	username = {{ .githubUsername }}
	signingkey = {{ .sshSigningKey }}
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[commit]
	gpgsign = true
[gpg]
	format = ssh
[core]
	editor = nvim
[fetch]
	prune = true
[rerere]
	enabled = true
[diff]
	algorithm = histogram
[merge]
	conflictstyle = zdiff3
