{
  "tui": "fullscreen",
  "copyOnSelect": false,
  "prStatusFooterEnabled": false,
  "showClearContextOnPlanAccept": true,
  "awaySummaryEnabled": false,
  "autoUpdaterChannel": "stable",
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "companyAnnouncements": [
    "󰚩  Roger Roger"
  ],
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true
  },
  "statusLine": {
    "type": "command",
    "command": "npx -y ccstatusline@latest",
    "padding": 0
  },
  "env": {
    "CLAUDE_CODE_DISABLE_ADAPTIVE_THINKING": "1",
    "MAX_THINKING_TOKENS": "128000"{{ if eq (index .addons "claudeProvider") "bedrock" }},
    "AWS_PROFILE": "claude-code"{{ end }}
  },
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "\"$HOME\"/.claude/hooks/block-dangerous-rm.sh"
          },
          {
            "type": "command",
            "command": "\"$HOME\"/.claude/hooks/block-dangerous-git.sh"
          },
          {
            "type": "command",
            "command": "\"$HOME\"/.claude/hooks/block-dangerous-bash.sh"
          }
        ]
      },
      {
        "matcher": "Edit|Write|Read",
        "hooks": [
          {
            "type": "command",
            "command": "\"$HOME\"/.claude/hooks/protect-sensitive-files.sh"
          }
        ]
      }
    ]
  }
}
